@import "./variables.css";

.woocommerce form .form-row .required {
    color: #000;
}

.checkout-title {
    font-size: 21px;
    font-weight: 700;
    color: #000;
}

.checkout-field-inputs {
    position: relative;
}
.checkout__container {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
    padding: 30px 15px;
}
/*-------------------------------- Woocommerce override styles --------------------------------*/
.input-text {
    padding: 13px 11px !important;
    border: 1px solid var(--calori-color-bg-fourth);
    border-color: var(--calori-color-bg-fourth);
    border-radius: 6px;
}
.woocommerce-info {
    border-top-color: var(--calori-color-bg-primary);
}
.woocommerce-info::before {
    color: var(--calori-color-bg-primary);
}
.woocommerce-info .showcoupon {
    text-decoration: underline;
}
.checkout_coupon.woocommerce-form-coupon {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}
.checkout_coupon.woocommerce-form-coupon .form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
}
.checkout_coupon.woocommerce-form-coupon .wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-height: 55px;
}
.checkout_coupon.woocommerce-form-coupon input {
    height: 100%;
}
.checkout_coupon.woocommerce-form-coupon .button {
    height: 100%;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.checkout_coupon.woocommerce-form-coupon .button:hover {
    background: var(--calori-color-bg-primary);
    border: 1px solid var(--calori-color-bg-primary);
    color: #fff;
}
.review_coupon-form {
    padding: 5px;
}
#order_review_heading {
    margin-bottom: 10px;
}

#customer_details .col-1,
#customer_details .col-2 {
    float: none;
    width: 100%;
}

@media (min-width: 1080px) {
    .checkout.woocommerce-checkout {
        display: flex;
    }
    #customer_details.col2-set {
        padding-right: 15px;
    }
    .order_review_wrapper {
        padding-left: 15px;
    }
}

.woocommerce-checkout-payment {
    background: var(--calori-color-bg-secondary) !important;
}

.payment_box {
    background: var(--calor-color-bg-fifth) !important;
    color: #000 !important;
}

.payment_box::before {
    display: none !important;
}

#place_order.button {
    margin-top: 20px;
    background: var(--calori-color-bg-primary);
}
