.contact-form {
    display: flex;
    flex-direction: column;
    padding: var(--calori-sections-padding) 0;
}

.contact-form__container {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

.contact-form__block {
    width: 100%;
}
.contact-form__block:not(:first-child) {
    margin-top: 15px;
}
.contact-form__block input[type="text"],
input[type="email"],
input[type="tel"],
.contact-form__block textarea {
    font-size: 16px;
    width: 100%;
    padding: 10px 15px;
    background: none;
    border: 1px solid var(--calori-color-bg-fourth);
    border-radius: 6px;
}
.contact-form__block textarea {
    height: 200px;
    max-width: 100%;
    width: 100%;
    resize: both;
}
.contact-form__heading {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.contact-form__button {
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info-container {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

.contact-info-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 50px;
}
.contact-info-category:not(:first-child) {
    margin-top: 30px;
}

.contact-info-category ul {
    
    font-size: 18px;
}

.contact-info-category ul li:not(:first-child) {
    margin-top: 5px;
}

.contact-info-category ul li span {
    font-weight: 500;
}

.contact-info-category h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .contact-info-category h3 {
        text-align: center;
        font-size: 20px;
    }
    .contact-info-category ul {
        font-size: 17px;
        max-width: 80%;
    }

    .contact-info-category,
    .contact-info-body  {
        display: block;
    }
    .contact-info-category {
        width: 100%;
    }
}
